body {
    margin-left: 0px;
    font-family: 'Open Sans', sans-serif;
}

header {
    max-width: 1380;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
padding-bottom: 28px;
}

.container1 {
    max-width: 1380;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.d-inline {
    display: inline;
    margin-left: 10px;
}
.right-function a{
    color: black;
}
.navbar a {
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
    color: #000000;
    font-size: 20px;
}
.hovers{
    display: flex;
    column-gap: 12px;
    
}
.hovers p{
    background-color: black;
    text-align: center;
    border: solid 1px white;
    padding: 12px;
    opacity: 0;
    
}
.hovers p:hover{
    opacity: 1;
}
.hovers a{
color: white;
}
.hovers a{
    text-decoration: none;
}

.left-function a {
    margin-left: 10px;
    color: #383838;
    text-decoration: none;
    border-right: solid 2px #e6e3e3;
    padding-right: 10px;
}

.right-function i {
    margin-right: 16px;
}
.outline{
    border: 0;
    outline: 0px;

}
.container2 {
    background-image: linear-gradient(#ffffff27, black 50%), url("https://connect.monstercat.com/v2/release/aedafcc1-efea-4387-a425-b2f63f56370d/cover?image_width=3000");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-bottom: 32px;
    background-color: black;
}
.capa{
    margin-left: 8px;
}
.top-element {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    column-gap: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 48px;
}

.right-element {
    padding: 16px;
}

.days {
    color: white;
    font-size: 42px;
}

.conro {
    color: white;
    font-size: 28px;
}

.released {
    color: white;
    font-size: 20px;
}

.pic1 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.pic2 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.tracks {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    max-width: 1380px;
    column-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}
.about-artist p{
font-size: 12px;
margin-top: 0px;
}
.about-artist{
    margin-top: 6px;
}
.cat-logo {
    display: flex;
    justify-content: space-between;
}

.play {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    
}

.buttons i {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 24px;
    padding-left: 24px;
}

.buttons h3 {
    color: white;
}

.track-list {
    color: white;
}

.more-from {
    padding-left: 24px;
    margin-bottom: 0px;
    margin-top: 30px;
}

table {
    border-collapse: collapse;
    background-color: white;
    color: #383838;
    width: 100%;
}

table a {
    color: #383838;
}

.table p {
    margin-top: 0px;
}

.table {
    width: 100%;
}

table button {
    font-size: 9px;
    border-radius: 0px;
    border-width: 1px;
}

table p {
    padding: 0px;
    margin: 0px;
}

.small {
    font-size: 12px;
}

table tr:nth-of-type(even) {
    background-color: #f5f5f5;
}

table td {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.right-table {
    max-width: 1360px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    column-gap: 80px;
}

.tracks a {
    text-decoration: none;
    color: #383838;
}
.left-section{
    padding-left: 12px;
}
.left-section a {
    margin-right: 14px;
    text-decoration: none;
    color: #383838;
    font-weight: bold;
}
.footer-elements{
    display: flex;
    justify-content: space-between;
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
}
footer a{
    text-decoration: none;
    color: black;
font-weight:normal;
}
footer i{
    margin-right: 12px;
}
.right-section i {
    margin-right: 14px;
    color: #000000;
}

.right-section a {
    margin-right: 14px;
}

.footer {
    max-width: 1380;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.footer-elements {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
   padding: 16px;
}

.copy-right h4 {
    margin-top: 0px;
}

footer i {
    margin-left: 24px;
    color: #383838;
}
footer a{
    border-right: solid 2px #e2dbdb;
    padding-right: 8px;
}
a:hover {
    color: #1e90ff;
}

.navbar a:hover {
    text-decoration: underline;
}
footer i:hover{
    color:#1e90ff ;
}
.right-section i:hover{
    color: #1e90ff;
}

.youtube {
    display: flex;
    background-color: white;
    justify-content: space-between;
}

.youtube p {
    font-size: 12px;
    padding-left: 16px;
    padding-top: 6px;
    letter-spacing: 2px;
}

.spotify {
    display: flex;
    background-color: white;
    justify-content: space-between;
}

.spotify p {
    font-size: 12px;
    padding-left: 16px;
    padding-top: 6px;
    letter-spacing: 2px;
}

.apple {
    display: flex;
    background-color: white;
    justify-content: space-between;
}

.apple p {
    font-size: 12px;
    padding-left: 16px;
    padding-top: 6px;
    letter-spacing: 2px;
}

.google {
    display: flex;
    background-color: white;
    justify-content: space-between;
}

.google p {
    font-size: 12px;
    padding-left: 16px;
    padding-top: 6px;
    letter-spacing: 2px;
}

.bandcamp {
    display: flex;
    background-color: white;
    justify-content: space-between;
}

.bandcamp p {
    font-size: 12px;
    padding-left: 16px;
    padding-top: 6px;
    letter-spacing: 2px;
}

.track1 :hover {
    color: #1e90ff;
}
.play:hover{
    background-color:#383838;
    color: white;
}
.youtube:hover{
    background-color:#383838;
    color: white;
}
.spotify:hover{
    background-color:#383838;
    color: white;
}
.apple:hover{
    background-color:#383838;
    color: white;
}
.google:hover{
    background-color:#383838;
    color: white;
}
.bandcamp:hover{
    background-color:#383838;
    color: white;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .navbar {
        display: none;
    }
    .container1 {
        display: none;
    }
    .top-element {
        flex-direction: column;
        text-align: center;
    }
    .pic1 {
        display: none;
    }
    .pic2 {
        display: none;
    }
    .level-days {
        width: 100%;
    }
    .right-table {
        flex-direction: column;
    }
    .play {
        width: 100%;
    }
    .grid-element {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        align-content: center;
    }
    .track-list {
        padding-top: 12px;
    }
    .none {
        display: none;
    }
    .more-from {
        font-size: 24px;
    }
    .footer {
        display: initial;
        font-size: 14px;
    }
    .right-section a {
        margin-right: 0px;
    }
    .right-section {
        margin-left: 20px;
    }
    .footer-elements {
        display: initial;
    }
    .copy-right h4 {
        text-align: end;
    }
    table button{
    margin-right: 16px;
    }
    .days{
        font-size: 35px;
        margin: 0px;
    }
    .conro{
        margin: 0px;
    }
    .released{
        margin: 0px;
        font-size: 12px;
    }
    footer{
        font-size: 12px;
    }
    .copy-right h4{
        font-size: 10px;
    }
    footer i{
        margin-right: 2px;
    }
}

@media screen and (min-width:820px) {
    .grid-element p {
        display: none;
    }
    .grid-element {
        display: flex;
        column-gap: 16px;
        row-gap: 8px;
    }
    .hide {
        display: none;
    }
}
@media screen and (min-width:320px) and (max-width:520px) {
    .tracks{
        grid-template-columns: 50% 50%;
    }
    
}
@media screen and (min-width:521px) and (max-width:720px){
    .tracks{
grid-template-columns: 25% 25% 25% 25%;
    }
}
@media screen and (min-width:721px) and (max-width:920px){
    .tracks{
     grid-template-columns: 16% 16% 16% 16% 16% 16%;
    } 
}
    

