body{
    margin-left: 0px;
    font-family: 'Open Sans', sans-serif;
}

header{
    padding: 12px;
}
.container1{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    
}
.d-inline{
    display: inline;
    margin-left: 10px;
}
.navbar a{
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
    color:  #000000;
    font-size: 22px;
}
.left-function a{
margin-left: 10px;
color:#383838;
text-decoration: none;
}
.right-function i{
margin-right: 16px;
}

.container2{
background-image:linear-gradient(#ffffff27,black 50%), url("https://connect.monstercat.com/v2/release/aedafcc1-efea-4387-a425-b2f63f56370d/cover?image_width=3000");
background-repeat: no-repeat;
background-size: cover;
background-position:bottom;
width: 100%;
min-height: 100%;
height: auto;
margin-top: 16px;
padding-bottom: 32px;

}
.top-element{
  display: flex;
  column-gap: 30px;
 padding: 40px;
}
.right-element{
    padding: 16px;
}
.level-days{
    width: 300px;
    height: 300px;
}
.days{
color: white;
font-size: 42px;
}
.conro{
color: white;
font-size: 28px;
}
.released{
  color: white; 
  font-size: 20px; 
}
.pic1{
border-radius: 50%;
width: 100px;
height: 100px;
}
.pic2{
border-radius: 50%;
width: 100px;
height: 100px;
}
.tracks{
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    max-width: 1280px;
    column-gap: 10px;
    padding: 24px;
}
.track-pics{
    width: 100%;
}
.cat-logo{
display: flex;
justify-content: space-between;
}
.play{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.buttons i{
padding: 16px;
}
.buttons h3{
    color: white;
}
.track-list{
    color: white;
}

table{
  border-collapse: collapse;
  background-color: white;
  width: 850px;
  color: #383838;
}
table a{
    color: #383838;
}
.table p{
    
    margin-top: 0px;
}
table button{
    font-size: 9px;
    border-radius: 0px;
    border-width: 1px;
}
table tr:nth-of-type(even){
    background-color:#f5f5f5;

}
table td{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.right-table{
    display: flex;
    padding: 32px;
    column-gap: 40px;
}
.tracks a{
    text-decoration: none;
    color:#383838;
}
.left-section a{
    text-decoration: none;
    margin-left: 12px;
    color: #383838;
    font-weight: bold;

}
.right-section i {
    margin-right: 14px;
    color:  #000000;
}
.right-section a{
    margin-right: 14px;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    
}
.footer-elements{
    display: flex;
    justify-content: space-between;
}
.copy-right h4{
    margin-top: 0px;
}
footer i{
    margin-left: 24px;
    color: #383838;
}
a:hover{
    color: #1e90ff;

}
.navbar a:hover{
    text-decoration: underline;
}